@model IEnumerable<TP_WS1.Models.GameGenre>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameTypeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameTypeId)
            </td>
            <td>
                <a asp-controller="Games" asp-action="index" asp-route-id="@item.GameGenreId">Games</a> 
            </td>
        </tr>
}
    </tbody>
</table>
